/* banner */
* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
body{
    background-color: #f3f3f3;
}
li{
    list-style: none;
}

.nav {
    margin-left: 160px;
}
.w1200{
    width: 1200px;
    margin: auto;
}
.nav li {
    float: left;
    text-align: center;
    margin-right: 20px;
    line-height: 72px;
    width: 80px;
    list-style: none;
    font-size: 18px;
}

.nav li:hover {
    background-color: #5696ff;
}

.logo{
    margin-top: 7px;
}

.logo img{
    vertical-align: middle;
}

.head>div {
    margin-right: 50px;
}

.login p {    
    line-height: 72px;
    margin-left: 10px;
}

/* 搜索栏 */
.search{
    background-color: #666666;
    padding: 20px 0;
}
.left .rect{
    width: 2px;
    height: 22px;
    background-color: white;
    margin-right: 40px;
}
.left .img{
    margin-right: 40px;
}

/* banner */
.banner{
    margin-top: 30px;
}
.banner_img{
    background: url(../img/information/banner.jpg);
    width: 778px;
    height: 350px;
}
.banner>ul{
    width: 368px;
    padding: 40px 24px;
}

.banner .circle{
    width: 12px;
    height: 12px;
    background-color: #fe5308;
    border-radius: 50%; 
}
.articles{
    background-color: white;
    height: 270px;
}
.articles .circle_article{
    width: 345px;
    font-size: 20px;
    line-height: 34px;
    margin-left: 10px;
    margin-top: -12px;
}
.articles .rect{
    width: 345px;
    height: 1px;
    background-color: #b1b1b1;
    margin: 28px 0 35px 0;
}

/* banner上的文字 */
.banner_img{
    position: relative;
}
.banner_txt{
    width: 370px;
    height: 92px;
    position: absolute;
    top:92px;
    right: 76px;
}
.headlines{
    width: 75px;
    height: 49px;
    background: url(../img/information/input.png);
    text-align: center;
}
.song{
    font-size:28px;
    color: white;
}
.song>p span{
    font-size: 34px;
    color: #f9f754;    
}
.banner_txt p{
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
.bottom_txt>p{
    margin-top: 15px;
    color: white;
    font-size: 28px;
}

/* 行业动态 */
.left_article{
    width: 872px;

}
.left_img{
    width: 420px;
    height: 253px;
    background: url(../img/information/canada.jpg);
    padding: 18px;
    box-sizing: border-box;

}
.march{
    width: 58px;
    height: 66px;
    background-color: #5696ff;
    font-size: 18px;
    color: white;
    display: flex;
    align-items: center;
    text-align: center;
}
.content .title{
    font-size: 20px;
    font-weight: bold;
    margin: 10px 0;
}
.content .rect{
    height: 1px;
    background-color: #b1b1b1;
    margin: 10px 0;
}
.country{
    width: 420px;
    margin-bottom: 30px;
}

.right_trends{
    width: 270px;
}
.industry{
    margin-top: 60px;
}
.industry_trends{
    font-size: 24px;
    font-weight: bold;
}
.industry_trends .rect{
    width: 58px;
    height: 2px;
    background-color: #5696ff;
    margin: 20px 0;
}
.industry_img{
    width: 70px;
    height: 62px;
    background: url(../img/information/xiaweiyi.jpg);
}
.industry_txt{
    width: 168px;
    font-size: 14px;
}
.trends>li{
    margin-bottom: 20px;
}

.tags{
    margin-top: 20px;
}
.tags button{
    margin-bottom: 5px;
}
.row1 .button_left{
    width: 140px;
    height: 38px;
    background-color: #5696ff;    
    border: transparent;
    color:white;
    box-sizing: border-box;
}
.row1 .button_right{
    width: 122px;
    height: 38px;
    border: #b1b1b1 solid 1px;
    box-sizing: border-box;
}
.row2 .button_left{
    width: 122px;
    height: 38px;       
    border: #b1b1b1 solid 1px;
    box-sizing: border-box;
}
.row2 .button_right{
    width: 140px;
    height: 38px;
    border: #b1b1b1 solid 1px;
    box-sizing: border-box;
}
.row3 .button_left{
    width: 80px;
    height: 38px;       
    border: #b1b1b1 solid 1px;
    box-sizing: border-box;
}
.row3 .button_right{
    width: 92px;
    height: 38px;
    border: #b1b1b1 solid 1px;
    box-sizing: border-box;
}
.row3 .button_right{
    width: 88px;
    height: 38px;
    border: #b1b1b1 solid 1px;
    box-sizing: border-box;
}

/* pages */
.pages{
    margin-top: 30px;
}
.pages li{
    float:left;    
}
.pages .button_right{
    float:right;
}
.pages button{
    width: 200px;
    height: 60px;    
    border-color:#d8d7d7;    
}
.numbs{
    padding: 0 25px;    
    margin-top: 15px;
}
.numbs li{
    margin-right: 40px;    
}

/* bottom */
.bottom p{
    width: 660px;
    margin: auto;
    font-size: 16px;
    color: white;
    line-height: 34px;
}
.bottom{
    background-color: #5696ff;
    height: 100px;
    padding-top: 30px;
    margin-top: 60px;
}