* {
    margin: 0;
    padding: 0;
}
.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}
body{
    background-color: #f3f3f3;
}
li{
    list-style: none;
}
.w1200{
    width: 1200px;
    margin: auto;
}

/* banner */
.banner{
    width: 1920px;
    height: 640px;
    background: url(../img/login/banner.jpg);
    margin: auto;
    padding:20px;
    box-sizing: border-box;
}
.login_box{
    width: 380px;
    height: 310px;
    background-color: white;
    border-radius: 8px;
    margin: auto;
    padding-top: 40px;
    box-sizing: border-box;
}
.logo{
    width: 93px;
    height: 92px;
    margin: auto;    
    margin-bottom: 20px;
}
.tel{
    width: 300px;    
    margin: auto;
}
.tel input{
    width: 300px;
    height: 40px;
    border: #cecece solid 1px;
    border-radius: 5px;
    box-sizing: border-box;    
}
.login_box button{
    width: 300px;
    height: 40px;
    border:transparent;
    border-radius: 5px;
    background-color: #5696ff;
    margin-top: 20px;
}
.sign_up{
    width: 300px;
    margin: auto;
}
.agreement p{
    margin-right: 40px;
    color:#999999;
    margin-bottom:10px;
    margin-top: 10px;
    font-size: 12px;
}
.login_box .rect{
    height: 1px;
    background-color: #cecece;
}
.cooperate{
    width: 300px;
    margin: auto;
    font-size: 12px;
    color: #999999;
    margin-top: 10px ;
    margin-bottom: 10px;
}
.media{
    width: 300px;
    margin: auto;
}
.media p{
    font-size: 12px;
    color:#999999;
    text-align: center;
}
.weibo{
    width: 48px;
    margin-top: 20px;
    margin-right: 50px;
}
.weibo_img{
    width: 35px;
    margin: auto;
}

.right_now{
    width: 160px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.3);
    text-align: center;
    font-size: 12px;
    color: white;
    line-height: 26px;
    margin-top: 20px;
    border-radius: 8px;
}
.right_now span{
    color:#5696ff;
    font-size: 12px;
}
