* {
    margin: 0;
    padding: 0;
}

.clear {
    clear: both;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.nav {
    margin-left: 160px;
}
.w1200{
    width: 1200px;
    margin: auto;
}
.nav li {
    float: left;
    text-align: center;
    margin-right: 20px;
    line-height: 72px;
    width: 80px;
    list-style: none;
    font-size: 18px;
}

.nav li:hover {
    background-color: #5696ff;
}


.logo{
    margin-top: 7px;
}
.logo img{
    vertical-align: middle;
}

.head>div {

    margin-right: 50px;
}

.login p {
    float: left;
    line-height: 72px;
    margin-left: 10px;
}

.banner {
    background: url(img/banner.jpg) no-repeat center;
    height: 50px;    
    padding-top: 550px;
}

.banner .rect1 {
    margin: auto;
    width: 60px;
    
}

.rect1 .circle1 {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;    
}

.rect1 .circle2 {
    width: 16px;
    height: 16px;
    border: 2px solid white;
    border-radius: 50%;    
}

.search input {
    width: 350px;
    line-height: 40px;
    border: 2px solid gray;
    border-radius: 7px;
}

.search {
    margin: auto;
    margin-top: 70px;
    width: 350px;
    position: relative;
}

.search img {
    position: absolute;
    right: 10px;
    top: 25%;
}

.rect p {
    line-height: 18px;
    position: relative;
    top: 30%;
}

/* videos */
.videos{
    width: 1210px;   
    height: 373px;
    margin-top: 57px;
}
.videos>div{
    height: 373px;
    width: 119px;
    float: left;
    margin-right: 3px;
    color: white;
}
.clear {
    width: 0px !important;
    height: 0px !important;
}
.videos .rect{
    height: 373px;
    background-color: rgba(147,147,147,0.5);
    position: relative;
}
.videos .sichuan{
    background: url(img/sichuan.png) no-repeat ;
}
.videos .dali{
    background: url(img/dali.jpg) no-repeat;
}
.videos .danmai{
    background: url(img/danmai.jpg) no-repeat;
}
.videos .italy{
    background: url(img/italy.jpg) no-repeat;
}
.videos .japan{
    background: url(img/japan.jpg) no-repeat;
}
.videos .france{
    background: url(img/france.jpg) no-repeat;
}
.videos .danmai{
    width: 595px;
}

.videos .rect span{
    position: absolute;
    top:70px;
    left: 33px;
    font-size: 28px;
}
.danmai .rect{
    width: 595px;
    height: 233px; 
    padding-top: 140px;   
}
.rect .img{
    width: 76px;
    height: 76px;
    margin: auto;     
}


/* 特惠行程 */
.cheap_trip{    
    margin-top: 55px;
}
.up .danmai{
    width: 441px;
    height: 307px;
    position: relative;
    background: url(img/daimai_travel.jpg) no-repeat;
}
.up .yuenan{
    width: 441px;
    height: 286px;
    padding-top: 21px;
    position: relative;
    background: url(img/yuenan_travel.jpg) no-repeat;
}
.up .india{
    width: 441px;
    height: 307px;
    position: relative;
    background: url(img/india_travel.jpg) no-repeat;
}
.up,.down{
    width: 891px;
}
.up .japan{
    width: 441px;
    height: 307px;
    position: relative;
    background: url(img/japan_travel.jpg) no-repeat;
}
.down .malaixiya{
    width: 521px;
    height: 369px;
    margin-left: 3px;
    position: relative;
    background: url(img/malaxiya_travel.jpg) no-repeat;
}
.down .tailand{
    width: 362px;
    height: 369px;
    position: relative;
    background: url(img/tailand_travel.jpg) no-repeat;
}
.down{
    margin-top: 5px;
}
.cheap_trip span{
    font-size: 22px;
    font-weight: bold;
    position: absolute;
    top: 53px;
    left: 45px;
    color: white;
}
.two{
    width: 300px;
}
.two .japan{
    width: 300px;
    height: 473px;
    position: relative;
    background: url(img/japan_travel.jpg) no-repeat;
}
.two .india{
    width: 300px;
    height: 204px;
    margin-top: 5px;
    background: url(img/india_travel.jpg) no-repeat;
    position: relative;
}
.yuenan .transparent{
    width: 400px;
    height: 185px;
    padding-top: 81px;
    background-color: rgba(170, 170, 170, 0.3);    
    margin: auto;
    border: 5px solid white;
}
.transparent .price{
    width: 313px;
    height: 50px;
    margin: auto;    
}
.price p{
    font-size: 26px;
    color: white;
    text-align: center;
    width: 133px;
    
}
.price .rect{
    width: 90px;
    height: 4px;
    background-color: white;    
    top: 30px;
    margin-top: 13px;
}
.cheap_travel .more{
    width: 160px;
    margin: auto;
}

/* 旅游资讯 */
.travel_info{
    width: 324px;
    margin: auto;  
    margin-top: 106px;  
}
.travel_info .rect{
    width: 78px;
    height: 7px;
    background-color: #666666;    
    margin-top: 24px;
}
.travel_info .title p{
    font-size: 36px;
    margin-left: 13px;
}
.travel_info>p{
    text-align: center;
    margin-top: 20px;
}

.travel_img{    
    height: 745px;
    background: url(img/big.jpg);
    margin-top: 190px;
    position: relative;
}
.travel_img img{
    width: 552px;
    height: 442px;
    border: 40px solid white;
    position: absolute;
    top:-172px;
    right:0px;
}

/* mexico */
.mexico{
    margin-top: 48px;
}
.mexico .rule{
    width: 448px;
}
.mexico .rect{
    width: 132px;
    height: 7px;
    background-color: #666666;
    margin-left: 316px;
}
.rule p{
    font-size: 30px;
    margin-left: 118px;
    color: #666666;
    text-align: right;
    margin-top: 30px;
}

.detail{
    width: 558px;
    font-size: 24px;  
    text-indent: 2em;  
}
.detail button{
    width: 170px;
    height: 50px;
    border:3px solid #999999;
    border-radius: 5px;
    margin-top: 38px;
    background-color: white;
    font-size: 26px;
    
}

.new_zealand{
    margin-top: 70px;
    position: relative;
}
.new_zealand .small{
    position: absolute;
    right:0;
    border:46px solid white;
    top: 66px;
}

.new_zealand_info{
    margin-top: 50px;
    
}

.tax .rect{
    width: 133px;
    height: 7px;
    background-color: #666666;
    margin-left: 318px;
}
.tax p{
    margin-left: 211px;
    font-size: 30px;
    margin-top: 30px;
    text-align: right;
}
.new_zealand_info .detail{
    width: 555px;
    font-size: 24px;
    line-height: 56px;
    margin-top: -146px;
}


.all_button{
    display: block;
    width: 156px;
    height: 50px;
    border-radius: 5px;
    border: solid #5696ff 2px;
    font-size: 26px;
    color: #5696ff;
    background-color: transparent;    
    margin: auto;
    margin-top: 70px;
}
.cheap_travel button{
    background-color: #5696ff;
    color:white;
}
.travel_title{
    width: 350px;
    margin: auto;
    margin-top: 100px;
}
.rect_short{
    width: 80px;
    height: 7px;
    background-color: #666666;
    margin-top: 20px;
}
.travel_title p{    
    font-size: 36px;    
    color:#5696ff;
    text-align: center;
}
.travel_title .title{
    width: 190px;
}
.travel_slogan{
    text-align: center;
    margin-top: 25px;
    font-size: 22px;
}